@model ProductAndRolesViewModel



<div id ="contentPage" class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card">

                <form data-ajax="true" class="form-group" data-ajax-failure="failed" data-ajax-complete="completed" asp-action="AssignProductToSupervisor" data-ajax-method="post">

                    @*<div asp-validation-summary="All" class="text-danger"></div>*@


                    @if (!Model.Products.Any())
                    {
                        <h1>No Products</h1>
                    }
                    else
                    {


                        <div id="" class="card-body">

                            <h4 class="card-title">Products Table</h4>
                            <p class="card-title-desc">
                                Send the following products to a supervisor for immediate approval
                            </p>

                            <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>


                                <tbody>

                                    @{

                                        for (int i = 0; i < Model.Products.Count; i++)
                                        {
                                            //if(Model.Products[i].Comment != null)
                                            //{
                                            //}
                                            ViewBag.Comment = Model.Products[i].Comment ?? "Products Pending approval";


                                            <tr>
                                                <td>
                                                    <input asp-for="@Model.ProductsToAssigns[i].Id " type="hidden" value=" @Model.Products[i].Id" />
                                                    @Model.Products[i].Id
                                                </td>
                                                <td>
                                                    <input asp-for="@Model.ProductsToAssigns[i].Name" type="hidden" value="@Model.Products[i].Name" />
                                                    @Model.Products[i].Name
                                                </td>
                                                <td>
                                                    <input asp-for="@Model.ProductsToAssigns[i].Quantity" type="hidden" value="@Model.Products[i].Quantity" />
                                                    @Model.Products[i].Quantity
                                                </td>
                                                <td>
                                                    <input asp-for="@Model.ProductsToAssigns[i].Amount" type="hidden" value="@Model.Products[i].Amount" />
                                                    @Model.Products[i].Amount
                                                </td>
                                                <td>
                                                    <input asp-for="@Model.ProductsToAssigns[i].ExpiringDate " type="hidden" value="@Model.Products[i].ExpiringDate" />
                                                    @Model.Products[i].ExpiringDate
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div>
                                <input placeholder="Add a comment" class="form-control" type="text" value="@ViewBag.Comment" asp-for="Comment" />
                            </div>

                            <h4 class="text-success">Supervisors</h4>

                            <div class="form-group">
                                @Html.DropDownListFor(s => s.SendToRole,
                                    new SelectList(Model.Supervisors, "Id", "FirstName"), "Select Supervisor", new { @class = "form-control col-md-6" })
                                <span asp-validation-for="SendToRole" class="text-danger"></span>
                            </div>

                            <br />

                            <button type="submit" class="btn btn-success">Submit Products</button>

                        </div>



                    }
                </form>

            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        function completed(xhr) {
            if (xhr.response == "success") {
                window.location.reload();

            } else if (xhr.response == null) {

                var tableData = document.getElementById("contentPage");
                tableData.innerHTML = xhr.responseText;
            }
        }

        failed = function(xhr) {
            alert(xhr.status + xhr.statusText);
        };

    </script>
}